body {
  margin: 0;
  font-family: helvetica;
}
a {
  font-style: none;
}
#nav {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0em;
  width: 100%;
  height: 3em;
  background-color: #dddddd;
}
#nav #burger {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.3em;
  padding: 0.5em;
  z-index: 20;
  border: 1px solid #eaeaea;
  background: #dddddd;
}
#mobNav {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  -webkit-transform: translate3d(0, -100%, 0);
  -webkit-transition: 0.25s;
  transition: 0.25s;
  background-color: #eaeaea;
  text-align: center;
  line-height: 30px;
  font-size: 1em;
}
#mobNav.active {
  -webkit-transform: translate3d(0, 0, 0);
}
#mobNav.out {
  -webkit-transform: translate3d(-100%, 0, 0);
}
#mobNav ul {
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background-color: #eaeaea;
  list-style: none;
}
#mobNav ul li {
  height: 2em;
  padding: 0.5em;
  border-bottom: 1px solid #dddddd;
}
#mobNav ul ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  -webkit-transform: translate3d(200%, 0, 0);
  -webkit-transition: 0.25s;
  -webkit-transition-delay: 0.25s;
  transition: 0.25s;
  font-size: 1em;
  opacity: 0;
  background-color: #eaeaea;
}
#mobNav ul ul.active {
  -webkit-transform: translate3d(100%, 0, 0);
  z-index: 50;
  opacity: 1;
}
#mobNav ul ul.out {
  -webkit-transform: translate3d(100%, -100%, 0);
}
.back {
  font-size: 0.8em;
}
#content {
  position: relative;
  top: 0;
  -webkit-transition: 0.25s;
  -webkit-transform: translate3d(0, 50px, 0);
}
